body {
  font-family: "Poppins", sans-serif;
}
.custom-shape-divider-bottom-1627769132 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1627769132 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 101px;
}

.custom-shape-divider-bottom-1627769132 .shape-fill {
  fill: #000000;
}